body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #298fca;
  color: white;
  margin-top: 50px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #298fca;
  color: white;
  margin-bottom: 50px;
}
